

body{
  font-family: 'Oxygen', sans-serif;
  background: radial-gradient(circle, #8AB1AA 40%, #5EACC2, #1F81AF);
}

.App {
  text-align: center;
}

.banner{
  margin: 0;
  letter-spacing: 2px;
  height: 100px;
  color: white;
  background: linear-gradient(-60deg, #46404f 53%, #4B4452 53%);
  box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.25);
}

.App-logo {
  height: 20vmin;
  animation: bounce .55s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5,0.05,1,.5);
  animation-iteration-count: infinite;
}




@keyframes bounce {
from { transform: translate3d(0, 0, 0); }
to   { transform: translate3d(0, 300px, 0); }
}